html {
  background-color: #fff;
}

body {
  font-family: arial, helvetica, san-serif;
  margin: 20px 80px;
  border: solid 5px #66f;
  background-color: #ccf;
  -border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

h1 {
  background-color: #66f;
  color: #fff;
  line-height: 0.8;
  padding: 20px;
  padding-bottom: 30px;
  margin:0;
  border: 0;
  -border-radius-topleft: 25px;
  -border-radius-topright: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-radius-topleft: 25px;
  -webkit-border-radius-topright: 25px;
}

p {
  margin: 20px;
  font-size: .8em;
}

table {
  margin: 0 20px 20px 20px;
  border: dotted 1px #66f;
  font-size: .8em;
  border-collapse: collapse;
}

td, th {
  padding: 2px 5px;
  border: dotted 1px #66f;
} 

th {
  text-align: left;
}

address {
  text-align: center;
  font-size: 0.6em;
  font-style: normal;
  padding: 6px;
  border-top: solid 5px #66f;
}
