[% WRAPPER page.tt -%]
<h1>Cooking Vinyl Compilations</h1>
<p>View the contents of the Cooking Vinyl compilation albums in various ways:</p>

<ul>
<li><a href="albums/">List of albums</a></li>
<li><a href="artists/">List of artists</a></li>
<li><a href="songs/">List of songs</a></li>
</ul>
[% END -%]
