[% WRAPPER page.tt %]
    <h1>Songs</h1>
    <p>A list of songs on compilations released by
      <a href="http://www.cookingvinyl.com/">Cooking Vinyl</a> records.</p>
    <table class="table table-striped table-condensed table-hover table-bordered">
      <tr>
        <th>Song</th>
      </tr>
[% FOREACH song IN songs.sort('title') -%]
      <tr>
        <td><a href="[% song.filename %]">[% song.title %]</a></td>
      </tr>
[% END %]
    </table>
[% END %]
